<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.leo.fingerprint.datacollector">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name="de.leo.fingerprint.datacollector.ui.application.DataCollectorApplication"
        android:allowBackup="true"
        android:icon="@drawable/fp_s"
        android:label="@string/study_name"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme">
        <activity
            android:name="de.leo.fingerprint.datacollector.ui.GeofencesWithPlayServices.GeofenceMapActivity"
            android:label="@string/study_name"></activity>
        <activity android:name="de.leo.fingerprint.datacollector.ui.settings.FingerPrintSettingsActivity"></activity>

        <activity
            android:name="de.leo.fingerprint.datacollector.ui.EntryActivity"
            android:label="@string/study_name"></activity>
        <activity
            android:name="de.leo.fingerprint.datacollector.ui.activityRecording.RecordingActivity"
            android:label="@string/study_name"></activity>
        <activity
            android:name="de.leo.fingerprint.datacollector.ui.naturalTrigger.list.TriggerManagingActivity"
            android:label="Jitai Manager"></activity>
        <activity
            android:name="de.leo.fingerprint.datacollector.ui.naturalTrigger.creation.CreateTriggerActivity"
            android:label="Erinnerung erstellen"></activity>

        <activity
            android:name="de.leo.fingerprint.datacollector.jitai.manage.AddJitaiActivity"
            android:label="Add Jitai"></activity>
        <activity
            android:name="de.leo.fingerprint.datacollector.ui.activityRecording.RecordingsListActivity"
            android:label="Alle Aufnahmen"></activity>
        <activity
            android:name="de.leo.fingerprint.datacollector.ui.activityRecording.RecordViewActivity"
            android:label="Aufnahme Anzeigen"></activity>
        <activity
            android:name="de.leo.fingerprint.datacollector.ui.compare.CompareActivity"
            android:label="Compare Activity"></activity>
        <activity
            android:name="de.leo.fingerprint.datacollector.ui.DailyRoutines.MapsActivity"
            android:label="@string/title_activity_maps"></activity>
        <activity android:name="de.leo.fingerprint.datacollector.ui.NavigationActivity">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="de.leo.fingerprint.datacollector.datacollection.services.ActivitiesIntentService"
            android:exported="false"></service>
        <service
            android:name="de.leo.fingerprint.datacollector.datacollection.DataCollectorService"
            android:enabled="true"
            android:exported="true"></service>

        <service android:name="de.leo.fingerprint.datacollector.ui.notifications.NotificationService" />
        <service
            android:name="de.leo.fingerprint.datacollector.ui.widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDtz53veU2bEwv1Y1Orwwty5Vg5146CzN8 " />
        <service android:name="de.leo.fingerprint.datacollector.ui.GeofencesWithPlayServices.GeofenceTransitionsIntentService" />

        <receiver android:name="de.leo.fingerprint.datacollector.ui.widget.ClassificationWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/classificationwidget" />
        </receiver>


    </application>

</manifest>