<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.leo.smartTrigger.datacollector">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <!--<uses-permission android:name="android.permission.RECORD_AUDIO" />-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name="de.leo.smartTrigger.datacollector.ui.application.DataCollectorApplication"
        android:allowBackup="true"
        android:icon="@drawable/reminder_ico"
        android:theme="@style/AppBaseTheme.Light">
        <activity
            android:name="de.leo.smartTrigger.datacollector.ui.GeofencesWithPlayServices.GeofenceMapActivity"
            android:label="Ort Definieren"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme.Light.NoActionBar" />
        <activity
            android:name="de.leo.smartTrigger.datacollector.ui.ServiceManagingActivity"
            android:label="Verwaltung" />
        <activity
            android:name="de.leo.smartTrigger.datacollector.ui.naturalTrigger.list.TriggerManagingActivity"
            android:label="Smart Trigger"
            android:theme="@style/AppBaseTheme.Light.NoActionBar">
            <intent-filter android:label="@string/study_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.leo.smartTrigger.datacollector.ui.naturalTrigger.creation.CreateTriggerActivity"
            android:icon="@drawable/reminder_white"
            android:label="Bewegungsziel definieren"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.notifications.FullscreenJitai"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=""/>

        <activity android:name=".ui.notifications.FullscreenJitaiSurvey"/>

        <service android:name="de.leo.smartTrigger.datacollector.datacollection.services.ActivitiesIntentService" />
        <service
            android:name="de.leo.smartTrigger.datacollector.datacollection.DataCollectorService"
            android:label="Smart Trigger Studien Service" />
        <service android:name="de.leo.smartTrigger.datacollector.ui.notifications.NotificationService" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_MAPS_API_KEY" />
        <service android:name="de.leo.smartTrigger.datacollector.ui.GeofencesWithPlayServices.GeofenceTransitionsIntentService" />
    </application>

</manifest>