<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.yunlong.datacollector"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="com.samsung.accessory.permission.ACCESSORY_FRAMEWORK"/>
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>
    <uses-permission android:name="com.samsung.WATCH_APP_TYPE.Integrated"/>
    <uses-permission android:name="com.samsung.wmanager.APP"/>
    <uses-permission android:name="com.samsung.wmanager.ENABLE_NOTIFICATION"/>
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>

    <uses-feature
        android:name="android.hardware.location"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"/>

    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:name=".application.DataCollectorApplication"
        android:allowBackup="true"
        android:icon="@drawable/fp_s"
        android:label="@string/study_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SensorOverviewActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/study_name">

        </activity>
        <activity
            android:name=".OrientationSensorExampleActivity"
            android:label="@string/title_activity_orientation_sensor_example"
            android:screenOrientation="landscape">
        </activity>

        <meta-data
            android:name="AccessoryServicesLocation"
            android:value="/res/xml/accessoryservices.xml"/>
        <meta-data
            android:name="GearAppType"
            android:value="wgt"/>

        <activity android:name=".GearCommTesterActivity">
        </activity>
        <activity
            android:name=".RemoteSensorDataActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity android:name=".settings.FingerPrintSettingsActivity">
        </activity>

        <service
            android:name=".services.ActivitiesIntentService"
            android:exported="false">
        </service>
        <service android:name=".services.HelloAccessoryProviderService">
        </service>

        <receiver android:name="com.samsung.android.sdk.accessory.ServiceConnectionIndicationBroadcastReceiver">
            <intent-filter>
                <action android:name="android.accessory.service.action.ACCESSORY_SERVICE_CONNECTION_IND"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.samsung.android.sdk.accessory.RegisterUponInstallReceiver">
            <intent-filter>
                <action android:name="android.accessory.device.action.REGISTER_AFTER_INSTALL"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".services.DataCollectorService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name=".EntryActivity"
                  android:theme="@style/AppTheme"
            android:label="@string/study_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
